@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ninna';
  src: url('./fonts/Ninna-TRIAL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #ededed;
  background: #0a0a0a;
}

.text-shadow {
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.title-container {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body[data-modal='creations'] .title-container {
  opacity: 0;
}
